body {
  padding-top: 2rem;
  background-color: #D3D3D3;
}

.jumbotron {
    background-color: #C8C8C8;
}

#bio {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}

/*-- change navbar dropdown color --*/
.dropdown-menu {
    background-color: #F5F5F5;
}

.divider {
    background-color: #000000;
}

.dropdown-menu > li > a {
    color: #A9A9A9;
}

.starter-template {
  padding: 1rem 1rem;
  text-align: center;
}
