body {
  font-family: 'Raleway', sans-serif;
  /* padding-top: 1rem; */
  background-color: #D3D3D3;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Athiti', sans-serif;
  /* font-weight: 900; */
}

#bio {
    font-size: 18px;
}

.jumbotron {
    background-color: #C8C8C8;
}

.btn.btn-block.btn-social.btn-xs {
    color: #ffffff;
}

.btn.btn-block.btn-social.btn-xs.btn-linkedin:hover {
    color: #0077b5;
}
.btn.btn-block.btn-social.btn-xs.btn-github:hover {
    color: #000000;
}
/*-- change navbar dropdown color --*/
.dropdown-menu {
    background-color: #F5F5F5;
}

.divider {
    background-color: #000000;
}

/* .dropdown-menu > li > a {      */
/*     color: #A9A9A9;            */
/* }                              */

/* Resume */
#resume_container {
    font-size: 1.285em;
}

#exp_header_right_col {
    text-align: right;
}

#exp_body {
    border-bottom: 1px solid #878787;
}
