{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content  %}
    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h1>Under Construction</h1>
            <p>This page is actively being developed, please check back soon for updates.  Thank you!</p>
        </div>
    </div>

    <div class="container">
        <div class="col-md-4"></div>
        <div class="col-md-4"><img src="{% static 'images/caveman.png' %}" class="img-responsive"></div>
        <div class="col-md-4"></div>
    </div>
{% endblock  %}
