{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <!-- Intended audiences for the site -->
      <div class="jumbotron">
        <h2>INTENDED AUDIENCES</h2>
        <p>I intend for this site to act as a way to document projects and leave breadcrumbs
        for setting up environments.  I also hope that some of my articles and and projects
        help others with their projects and studies.  And lastly this site should help
        to give recruiters, hiring managers and potential clients a portfolio to help make
        any decisions.</p>
      </div>

      <!-- Opening bio for the site -->
      <div class="conatiner">
          <div class="row">
            <div class="col-md-8" id="bio">
              <div class="row">
                <h3>SHORT BIO</h3>
                <p>{{ bio.bio|safe }}</p>
                <div class="col-md-6" id="bio">
                    <h4>PROFESSIONAL INTERESTS</h4>
                    <ul>
                        {% for i in pro_ints  %} 
                            <li>{{ i.interest }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6" id="bio">
                    <h4>PERSONAL INTERESTS</h4>
                    <ul>
                        {% for i in per_ints  %} 
                            <li>{{ i.interest }}</li>
                        {% endfor %}
                    </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
                <figure>
                    <img src="{% static 'images/headshot.jpg' %}" class="img-responsive img-bio" alt="Headshot">
                    <figcaption><em>Portrait from wedding at Melrose Abbey; Melrose, Scotland</em></figcaption>
                </figure>
                </br>
                <figure>
                    <img src="{% static 'images/bbbs_stem_day.jpg' %}" class="img-responsive img-bio" alt="BBBS STEM Day
                    DEC 2016">
                    <figcaption><em>Fun group of kids learning about cryptography, code-breaking, web-development and
                        the Raspberry Pi for Big Brothers Big Sisters of America</em></figcaption>
                </figure>
                </br>
                <figure>
                    <img src="{% static 'images/tv_interview.png' %}" class="img-responsive img-bio" alt="ABC The NOW
                    Denver APR 2016">
                    <figcaption><em>Local Denver ABC news approached my professor to speak with a computer science
                        student focusing on information security to discuss the "Dark Web" and TOR.  I was interviewed
                        by the reporter and able to conduct a class for a group of CS2 students showing them the
                        plumbing of TOR and VPNs.</em></figcaption>
                </figure>
                </br>
            </div>
          </div>
      </div>

{% endblock  %}
