{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h2>Projects in the works</h2>
            <ul>
                <li>PyBright, personal project adjusting color temp on an LED strip controlled by GPIO pins of a
                    Raspberry Pi 3 <a href="https://github.com/howard-roark/pybright" target="_blank">https://github.com/howard-roark/pybright</a></li>
                <li><a href="https://github.com/Unidata/MetPy" target="_blank">https://github.com/Unidata/MetPy</a></li>
                <li>Interest in <a href="https://cryptography.io/en/latest/" target="_blank">https://cryptography.io/en/latest/</a></li>
                <li>Interest in <a href="https://docs.pytest.org/en/latest/" target="_blank">https://docs.pytest.org/en/latest/</a></li>
            </ul>
            <!-- {% for post in posts %}                               -->
            <!--     <div>                                             -->
            <!--         <h2><a href="">{{ post.title }}</a></h2>      -->
            <!--         <h4>Published: {{ post.published_date }}</h4> -->
            <!--         <p>{{ post.text|linebreaksbr }}</p>           -->
            <!--     </div>                                            -->
            <!-- {% endfor %}                                          -->
        </div>
    </div>
{% endblock %}
